extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'LDP'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	#loading
		.bar Đang tải dữ liệu...
		.progress
			.progress-bar.progress-bar-striped.bg-secondary.progress-bar-animated(role="progressbar" aria-valuenow="100" style="width: 100%" aria-valuemin="0" ariavaluemax="100")
	section.gallery-page
		.container
			.row
				.col
					.text-center
						img.img-fluid(src="img/logo-min.png" alt="")
			.row
				.col
					h2.text-center THƯ VIỆN ẢNH
			.row
				.col-md-12
					.portfolioFilter.clearfix.text-center
						div.menu-styles(ui-view="menu")
			.row
				.col-md-12
					div.asdasd(ui-view)