extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'LDP'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	#loading
		.bar Đang tải dữ liệu...
		.progress
			.progress-bar.progress-bar-striped.bg-secondary.progress-bar-animated(role="progressbar" aria-valuenow="100" style="width: 100%" aria-valuemin="0" ariavaluemax="100")
	//- section.canhcam-design-1
	//- 	.container-fluid
	//- 		.row.no-gutters
	//- 			.col-md Danh mục
	//- 			.col-md.menuright
	//- 				ul
	//- 					li.item(ng-repeat="item in data")
	//- 						a(ng-href="javascript:void(0);" ng-click="getClick(item.dir)") 
	//- 							em.fa(ng-class="item.icon")
	//- 							span {{item.name}}