.container.p-0
	.row
		.col-md-12
			.portfolioContainer#lightgallery
				.am-thuc(style="width:150px;margin:.3rem")
					a(href="./img/gallery/1.jpg" data-fancybox="images")
						img.img-fluid(src="./img/gallery/thumb/1.jpg")
				.am-thuc(style="width:150px;margin:.3rem")
					a(href="./img/gallery/1.jpg" data-fancybox="images")
						img.img-fluid(src="./img/gallery/thumb/1.jpg")
				.am-thuc(style="width:150px;margin:.3rem")
					a(href="./img/gallery/1.jpg" data-fancybox="images")
						img.img-fluid(src="./img/gallery/thumb/1.jpg")
				.am-thuc(style="width:150px;margin:.3rem")
					a(href="./img/gallery/1.jpg" data-fancybox="images")
						img.img-fluid(src="./img/gallery/thumb/1.jpg")
				.am-thuc(style="width:150px;margin:.3rem")
					a(href="./img/gallery/1.jpg" data-fancybox="images")
						img.img-fluid(src="./img/gallery/thumb/1.jpg")
				.am-thuc(style="width:150px;margin:.3rem")
					a(href="./img/gallery/1.jpg" data-fancybox="images")
						img.img-fluid(src="./img/gallery/thumb/1.jpg")
				.am-thuc(style="width:150px;margin:.3rem")
					a(href="./img/gallery/1.jpg" data-fancybox="images")
						img.img-fluid(src="./img/gallery/thumb/1.jpg")
				.am-thuc(style="width:150px;margin:.3rem")
					a(href="./img/gallery/1.jpg" data-fancybox="images")
						img.img-fluid(src="./img/gallery/thumb/1.jpg")
				.am-thuc(style="width:150px;margin:.3rem")
					a(href="./img/gallery/1.jpg" data-fancybox="images")
						img.img-fluid(src="./img/gallery/thumb/1.jpg")
				.am-thuc(style="width:150px;margin:.3rem")
					a(href="./img/gallery/1.jpg" data-fancybox="images")
						img.img-fluid(src="./img/gallery/thumb/1.jpg")
				.am-thuc(style="width:150px;margin:.3rem")
					a(href="./img/gallery/1.jpg" data-fancybox="images")
						img.img-fluid(src="./img/gallery/thumb/1.jpg")
				.am-thuc(style="width:150px;margin:.3rem")
					a(href="./img/gallery/1.jpg" data-fancybox="images")
						img.img-fluid(src="./img/gallery/thumb/1.jpg")
				.am-thuc(style="width:150px;margin:.3rem")
					a(href="./img/gallery/1.jpg" data-fancybox="images")
						img.img-fluid(src="./img/gallery/thumb/1.jpg")
				.am-thuc(style="width:150px;margin:.3rem")
					a(href="./img/gallery/1.jpg" data-fancybox="images")
						img.img-fluid(src="./img/gallery/thumb/1.jpg")
				.am-thuc(style="width:150px;margin:.3rem")
					a(href="./img/gallery/1.jpg" data-fancybox="images")
						img.img-fluid(src="./img/gallery/thumb/1.jpg")
				.am-thuc(style="width:150px;margin:.3rem")
					a(href="./img/gallery/1.jpg" data-fancybox="images")
						img.img-fluid(src="./img/gallery/thumb/1.jpg")
				.am-thuc(style="width:150px;margin:.3rem")
					a(href="./img/gallery/1.jpg" data-fancybox="images")
						img.img-fluid(src="./img/gallery/thumb/1.jpg")
				.am-thuc(style="width:150px;margin:.3rem")
					a(href="./img/gallery/1.jpg" data-fancybox="images")
						img.img-fluid(src="./img/gallery/thumb/1.jpg")
				.am-thuc(style="width:150px;margin:.3rem")
					a(href="./img/gallery/1.jpg" data-fancybox="images")
						img.img-fluid(src="./img/gallery/thumb/1.jpg")