<!-- ////////////// HEADER ////////////// -->
header.bg-light.justify-content-between
	.container
		nav.navbar.navbar-expand-lg.navbar-light
			a.navbar-brand(href="#") 
				img(src="./img/logo-min.png", alt="Logo")
			//- Đây là nút sẽ hiển thị trong mobile
			button.navbar-toggler(type="button" data-toggle="collapse" data-target="#fullStackMenu" aria-controls="fullStackMenu" aria-expanded="false" aria-label="Toggle navigation")
				span.fa.fa-bars
			#fullStackMenu.collapse.navbar-collapse
				//- Thuộc tính '.mr-auto' này sẽ đẩy me nu về bên phải 
				//- Thuộc tính '.mr-auto' này sẽ đẩy me nu về bên phải 
				.mr-auto
				ul.navbar-nav(ng-controller="MenuController")
					li.nav-item(ng-repeat="item in menuData" ui-sref-active="active")
						a.nav-link(ui-sref="{{item.url}}") {{item.name}}
<!-- ////////////// HEADER ////////////// -->
