<!-- ////////////// HEADER ////////////// -->
.container-fluid.p-4
		.row
			.col(style="display:flex;justify-content: center")
				img.img-fluid(src="img/logo-min.png" alt="")
<!-- ////////////// HEADER ////////////// -->
